/*legend styling goes here*/

#legend {
	.title {
		font-size: 1.3em;
	}
	.subtitle {
		font-style: italic;
	}
	.layer {
		margin: 10px;
	}
	.items {
		display: flex;
		.item {
			padding: 5px;
			margin: 5px;
			border-radius: 3px;
			vertical-align: middle;
			.swatch {
				width: 100px;
				height: 20px;
				border: solid 1px;
				border-color: #d6d5d6
			}
			.icon {
				display: inline-block;
				margin: 1px 5px;
			}
			.icon:empty {
				height: 1em;
				min-width: 1em;
				background-color: grey;
			}
		}
		.item.active {
			color: white;
			background-color: #154c81;
		}
		.item.disabled {
			color: #50729d;
			border: #dce4f4 2px solid;
		}
	}
	#overlayer .item:hover {
		color: #154c81;
		background-color: #dce4f4;
	}
	#baselayer .item .label {
		text-align: center;
		margin-top: 3px;
	}
}
