/*legend styling goes here*/

#legend .title {
	font-size: 1.3em;
}
#legend .subtitle {
	font-style: italic;
}

#legend .layer {
	margin: 10px;
}

#legend .item .swatch {
	width: 100px;
	height: 20px;
	border: solid 1px;
	border-color: #d6d5d6
}

#legend .item.disabled {
	opacity: 0.5;
}

#legend .items {
	display: flex;
}

#legend .item {
	padding: 5px;
	margin: 5px;
	border-radius: 3px;
}
#legend #overlayer .item:hover {
	background-color: #F00A;
}
#legend #baselayer .item .label {
	text-align: center;
	margin-top: 3px;
}
