/*legend styling goes here*/

#legend {}

#legend .item {}

#legend .item .swatch {
	width: 20px;
	height: 20px;
	border: solid 1px;
	border-color: #d6d5d6
}

#legend .item.disabled {
	opacity: 0.5;
}

#legend .overlayer .items {
	display: flex;
	justify-content: space-around;
}

#legend .overlayer .item {
	padding: 5px;
	border-radius: 3px;
}
#legend .overlayer .item:hover {
	background-color: #F00A;
}
