/*legend styling goes here*/

#legend {
	margin: 10px;
  z-index: 400;
  position: relative;
  background-color: #fffd;
  max-width: 246px;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 3px;
	color: #000;

	.title {
		font-size: 1.3em;
	}
	.subtitle {
		font-size: 1.3em;
	}
	.layerunits {
		font-style: italic;
	}
	.layer {
		margin: 10px;
	}
	.subtitle-units {
		margin-top: 5px;
	}
	.items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;

		&.layer-swatches{			
			.item {
				flex: calc(100% - 15px);
  			margin-left: 0;
			}
		}

		.item {
			padding: 5px;
			margin: 2px;
			border-radius: 3px;
			cursor: pointer;
			transition: background-color 0.3s;
			&.active {
				color: white;
				background-color: var(--dark-blue);
				border: #0000 2px solid;

				label {
					color: white;
				}
			}
			&.disabled {
				color: var(--mid-blue);
				border: var(--light-blue) 2px solid;
			}
			&.clickable.disabled {
				&:hover {
					color: var(--dark-blue);
					background-color: var(--light-blue);
				}
			}
			.swatch {
				width: 40px;
				height: 20px;
				margin-right: 3px;
				border: solid 1px;
				border-color: #d6d5d6;
				cursor: default;
				float:left;
			}
			.icon {
				vertical-align: middle;
				display: inline-block;
				margin: 1px 5px 1px 0;
				/*&:empty {
					height: 1em;
					min-width: 1em;
					background-color: grey;
				}*/

			}
			.label {
				vertical-align: middle;
			}
			.baselabel {
				vertical-align: middle;
				overflow: hidden;
				cursor: default;
			}
		}
	}
	#baselayer {
		border-top: 2px solid;
		border-color: var(--light-blue);
		padding-top: 8px;
		 .item .label {
			text-align: center;
			margin-top: 3px;
		}
	}
}
