/* Styling for global context of the app, inluding fullscreen toggling */

:root {
	--dark-blue: #154c81;
	--mid-blue: #50729d;
	--light-blue: #dce4f4;
}

.urban-freight-wrap {
  position: relative; 
}
.urban-freight-wrap.fullscreen {
	z-index: 1000;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fff;
  padding: 5px;
  overflow-y: scroll;
}

.urban-freight-wrap .urban-freight-inner {
  position: relative;
}

.fullscreen-toggler {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-family: sans-serif;
  z-index: 400;
}
.fullscreen-icon {
  width: 20px;
  height: 20px;
}

.urban-freight-wrap .fullscreen-toggler {  
  border: 2px solid rgba(0,0,0,0.2);
  background-color: #fff;
  border-radius: 3px;
  padding: 4px 5px;
}
.urban-freight-wrap .fullscreen-toggler:hover {
  background-color: #f4f4f4;
}

.urban-freight-wrap .leaflet-touch-zoom  .leaflet-top.leaflet-left {
  right: 0px;
  margin: 0 10px;
  left: auto;
  top: 0;
}

.leaflet-bottom .leaflet-control-scale {
  margin-left: 10px;
}